<div class="hero-unit">
    <div class="row">            
        <div class="span12">
            <div class="row">
                <div class="span6 intro">
                    <div class="leader">
                        <a href="inficuri.github.io/" id="logo"></a>
                        <h1><a href="/">Infinite<br/>Curiosity.</a></h1>    <p>做一个有趣的搬运工。</p>
           
                    </div>                    
                </div>                        
            </div>{% include header/newer-older.html %}
        </div>
    </div>
</div>
